<mat-card>
  <mat-accordion class="employee">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div mat-card-avatar class="example-header-image">
            <mat-icon class="mat-icon-user">person</mat-icon>
          </div>
          <span class="employee-details">
            {{ employee.firstName }} {{ employee.lastName }},
            {{ employee.position }}
            <br />
            <mat-panel-description>
              Employee ID: {{ employee.id }} Reports:
              {{ employee.reports ? employee.reports.length : 0 }}
            </mat-panel-description>
          </span>

          <div class="get-reports-button-container">
            <button class="get-reports-button">
              Click To View Reports
            </button>
          </div>
        </mat-panel-title>
        <hr />
      </mat-expansion-panel-header>
      <dl>
        <dt>Reports:</dt>
      </dl>
      <dl *ngFor="let reporter of employee.reports">
        <dd>
          <div class="reporter">
            <div class="reporter-details">
              {{ reporter["firstName"] }} {{ reporter["lastName"] }},
              {{ reporter["position"] }}
            </div>
            <div class="get-reports-button-container">
              <mat-icon
                style="color: crimson;"
                (click)="openDialog(employee, reporter, 'delete')"
                >delete</mat-icon
              >
              <mat-icon
                style="color:black"
                (click)="openDialog(reporter, reporter, 'edit')"
                >edit</mat-icon
              >
            </div>
          </div>
        </dd>
      </dl>
      <dl *ngIf="!!employee.reports && employee.reports.length === 0">
        <dt>No Reports</dt>
      </dl>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
