<div class="confirmation-box" *ngIf="data.deleted">
  <mat-icon class="delete-confirm">delete_forever</mat-icon>
  <h4 mat-dialog-title>
    Employee {{ data.firstName }} {{ data.lastName }} has been deleted.
  </h4>
</div>

<div class="confirmation-box" *ngIf="data.edited">
  <mat-icon class="edit-confirm">check_circle</mat-icon>
  <h4 mat-dialog-title>
    {{ data.firstName }} {{ data.lastName }}'s Compensation Has Been Updated.
  </h4>
</div>

<div *ngIf="data.popUpCheck === 'delete'">
  <div class="edit-delete-container">
    <h2 mat-dialog-title>Delete Employee</h2>
    <mat-dialog-content>
      <p>
        Permanently Delete Employee {{ data.firstName }} {{ data.lastName }}?
      </p>
      <p>This cannot be undone.</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button
        mat-raised-button
        class="delete-ok"
        (click)="deleteEmployee(data, 'deleted')"
      >
        OK
      </button>
      <button mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions>
  </div>
</div>

<div *ngIf="data.popUpCheck === 'edit'">
  <form
    class="edit-delete-container"
    (submit)="updateEmployeeCompensation(data, compensation.value, 'edited')"
  >
    <mat-form-field>
      <input
        matInput
        placeholder="First Name"
        [value]="data.firstName"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Last Name"
        [value]="data.lastName"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Title" [value]="data.position" disabled />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Compensation"
        required
        type="number"
        [value]="data.compensation || null"
        #compensation
      />
    </mat-form-field>
    <mat-dialog-actions>
      <button
        mat-raised-button
        [disabled]="
          compensation.value > 0 && !(compensation.value == data.compensation)
            ? false
            : true
        "
      >
        SAVE
      </button>
      <button mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions>
  </form>
</div>
